<h1>Atomic design</h1>

<a href="http://localhost:3000/static_page/navbar">Lien pour navbar</a>
<br><br>
<a href="http://localhost:3000/static_page/footer">Lien pour footer</a>
<br><br>
<a href="http://localhost:3000/static_page/authentification_form">Lien pour authentification_form</a>
<br><br>
<a href="http://localhost:3000/static_page/banner">Lien pour banner</a>

